@import url('https://fonts.googleapis.com/css?family=Archivo:600i&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: hsl(var(--hue), 80%, var(--lumi, 63%));
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    text-shadow:  2px 2px 0 #000;
    font-size: 3vw;
    padding: 0 10vmax;
    
    
}

button {
    position: fixed;
    background-image: linear-gradient(to right bottom, #e65c00,#f9d423);
    left: 10%;
    bottom: 5%;
    min-width: 10%;
    height: 5%;
    border: none;
    border-radius: 10px;
    /* background-color: gold; */
    box-shadow: 5px 5px 5px black;
    color: black;
    font-weight: 900;
    
}
button:hover {
    background-image: linear-gradient(to right bottom, #c31432, #240b36);
    color: white;
    transition: ease-out 1s;
    
}


