@import url('https://fonts.googleapis.com/css?family=Archivo:600i&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: black;
    
}
body {
   background-color: #000;
    animation: cssAnimation 1s ease-in-out 1500ms;
    animation-fill-mode: forwards;
    
}
@keyframes cssAnimation {
    from {
       background: initial;
       background: rgb(0,0,6);
        background: linear-gradient(153deg, rgba(0,0,6,1) 50%, rgba(22,22,23,1) 98%, rgba(59,58,58,1) 100%, rgba(86,86,87,1) 100%);
    }
    to {
        background: black;
        background: rgb(0,0,6);
        background: linear-gradient(153deg, rgba(0,0,6,1) 50%, rgba(22,22,23,1) 98%, rgba(59,58,58,1) 100%, rgba(86,86,87,1) 100%);
       
    }
}
@-webkit-keyframes cssAnimation {
    from {
        background: initial;
       background: rgb(0,0,6);
        background: linear-gradient(153deg, rgba(0,0,6,1) 50%, rgba(22,22,23,1) 98%, rgba(59,58,58,1) 100%, rgba(86,86,87,1) 100%);
    }
    to {
        background: black;
        background: rgb(0,0,6);
        background: linear-gradient(153deg, rgba(0,0,6,1) 50%, rgba(22,22,23,1) 98%, rgba(59,58,58,1) 100%, rgba(86,86,87,1) 100%);
    }
}



h1 {
    color: hsl(var(--hue), 80%, var(--lumi, 63%));
    
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    text-shadow:  2px 2px 0 #000;
    font-size: 3vw;
    padding: 0 10vmax;
    
    
}

h1 {
    visibility: hidden;
    animation: cssH1 1s ease-in-out 2000ms;
    animation-fill-mode: forwards;
    
}
    

@keyframes cssH1 {
    from {
        visibility: hidden;
        
        
    }
    to {
        
       visibility: visible;
    }
}
@-webkit-keyframes cssH1 {
    from {
        visibility: hidden;
    }
    to {
       visibility: visible;
       
    }
}



button {
    position: fixed;
    background-image: linear-gradient(to right bottom, #e65c00,#f9d423);
    left: 10%;
    bottom: 5%;
    min-width: 10%;
    height: 5%;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    /* background-color: gold; */
    box-shadow: 5px 5px 5px black;
    color: black;
    font-weight: 900;
    
}
button:hover {
    background-image: linear-gradient(to right bottom, #c31432, #240b36);
    transition: ease-out 1s;
    color: white;
    
}


@media only screen and (max-width: 1200px) {
  button {
      width: 175px;
      font-size: 2vw;
  }
  h1 {
      font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
    
    
    button {
        width: 120px;
        
    }
    h1 {
        font-size: 4vw;
    }
  }